:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #1C1C1C;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  font-family: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


.app-wrapper {
  background-color: #fff7ed;
  max-width: 550px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-page {
  background-image: url('./assets/images/hero_img.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 65px 27px;
  color: #FFFFFF;
}

.home-page a {
  background-color: #FF8C38;
  padding: 9px 0;
  line-height: 32px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.home-page a:hover {
  background-color: #f07721;
}

.home-page h1 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 23px;
}

.home-page p {
  margin-bottom: 52px;
  font-weight: 500;
}


/* start header */
header {
  display: flex;
  justify-content: space-between;
  padding: 36px 26px;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 40px;
}

header nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

header nav a {
  text-transform: capitalize;
  font-weight: 600;
  line-height: 23px;
  color: #4D4D4D;
}

header nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: bold;
}

/* end header */

/* start footer */

footer {
  background-color: #252525;
  color: #AAAAAA;
  padding: 25.5px;
  text-align: center;
  margin-top: auto;
}

footer p {
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
}

/* end footer */

/* start about page */

.about-page img {
  width: 100%;
  vertical-align: middle;
}

.about-desc {
  padding: 50px 26px;
}

.about-desc h2 {
  color: #161616;
  font-size: 32px;
  line-height: 38px;
}

.about-desc p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding: 32px 0 55px;
}

.about-desc-btn-container {
  background-color: #FFCC8D;
  padding: 32px 37px;
  border-radius: 5px;
}

.about-desc-btn-container h3 {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 25px;
}

.about-desc-btn-container a {
  background-color: #161616;
  color: white;
  padding: 13px 22px;
  border-radius: 10px;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
}

/* end about page */

/* start vans page */

.vans-page {
  padding: 54px 26px 83px;
  color: #161616;
}

.vans-page-title {
  font-size: 32px;
  line-height: 34px;
  padding-bottom: 23px;
}

.vans-list-container {
  padding-top: 56px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 26px 35px;

}

.vans-list-container img {
  width: 100%;
  border-radius: 5px;
}

.van-desc {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 5px;
}

.van-desc span {
  font-size: 14px;
  font-weight: 500;
}

.van-type-btn {
  color: #FFEAD0;
  font-size: 16px;
  line-height: 32px;
  padding: 2.5px 11px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 600;
}

.van-type-btn.simple {
  background-color: #E17654;
}

.van-type-btn.rugged {
  background-color: #115E59;
}

.van-type-btn.luxury {
  background-color: #161616;
}

.vans-filter-list {
  display: flex;
  gap: 20px;
}

.vans-filter-list .van-type-btn {
  background: #FFEAD0;
  color: #4D4D4D;
  font-weight: 500;
}

.vans-filter-list .van-type-btn:hover {
  color: #FFFFFF;
}

.vans-filter-list .van-type-btn.simple:hover {
  background-color: #E17654;
}

.vans-filter-list .van-type-btn.simple.selected {
  background-color: #E17654;
  color: #FFFFFF;
}

.vans-filter-list .van-type-btn.rugged.selected {
  background-color: #115E59;
  color: #FFFFFF;
}

.vans-filter-list .van-type-btn.luxury.selected {
  background-color: #161616;
  color: #FFFFFF;
}

.vans-filter-list .van-type-btn.rugged:hover {
  background-color: #115E59;
}

.vans-filter-list .van-type-btn.luxury:hover {
  background-color: #161616;
}

.vans-filter-list .van-type-btn.clear {
  background-color: unset;
  text-decoration: underline;
  color: #4D4D4D;
}

/* end vans page */

/* start van detail page */

.van-detail-page-container {
  padding: 40px 26px 83px;
  color: #161616;
}

/* .van-detail-page-container .back-button{
  
} */

.van-detail-page-container img {
  width: 100%;
  border-radius: 5px;
  vertical-align: middle;
  margin-bottom: 50px;
}

.van-detail-page-container h2 {
  font-size: 32px;
  line-height: 34px;
  padding-top: 23px;
}

.van-detail-price {
  font-size: 24px;
  line-height: 44px;
  font-weight: 700;
  padding: 10px 0;
}

.van-detail-price span {
  font-weight: 500;
  font-size: 20px;
}

.van-detail-desc {
  font-size: 16px;
  font-weight: 500;
}

.rent-this-van-btn {
  background-color: #FF8C38;
  padding: 9px 0;
  line-height: 32px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  margin-top: 22px;
}

/* end van detail page */
/* start host-layout navigation component */
.host-layout-nav {
  display: flex;
  gap: 29px;
  color: #4D4D4D;
  padding: 33px 26px 55px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}

.host-layout-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: bold;
}

/* end host-layout navigation component */

/* start host-vans-page */
.host-vans-page {
  padding: 0 26px 66px;
  color: #161616;
}

.host-vans-page h1 {
  font-size: 32px;
  line-height: 34px;
}

.host-vans-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 32px;
}

.host-vans-item {
  display: flex;
  gap: 17px;
  align-items: center;
  background-color: #FFFFFF;
  padding: 18px 24px;
  border-radius: 6px;
}

.host-vans-item img {
  height: 65px;
  border-radius: 5px;
}

.host-vans-item-desc h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.host-vans-item-desc p {
  font-size: 16px;
  color: #4D4D4D;
  font-weight: 500;
}

/* end host-vans-page */
/* start host-van-detail-page */

.host-van-detail-container {
  padding: 0 26px 45px;
  color: #161616;
}

.back-button {
  display: block;
  padding-bottom: 37px;
  color: #201F1D;
  font-weight: 500;
}

.back-button:hover {
  text-decoration: underline;
  color: #161616;
}

.host-detail-van-wrapper {
  background-color: #FFFFFF;
  padding: 23px 25px;
  border-radius: 6px;
}

.host-detail-van-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.host-detail-van-item img {
  height: 157px;
  border-radius: 5px;
}

.host-detail-info h3 {
  font-size: 36px;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 2px;
}

.host-detail-info p {
  font-size: 20px;
  font-weight: 700;
}

.host-detail-info span {
  font-size: 18px;
  font-weight: normal;
}

.host-vans-nav {
  display: flex;
  gap: 22px;
  padding-top: 27px;
}

.host-vans-nav a {
  font-size: 16px;
  color: #4D4D4D;
  font-weight: 500;
}

.host-vans-nav a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

.host-van-detail-component {
  padding-top: 28px;
}

.host-van-detail-component p {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 15px;
}

.host-van-detail-component span {
  font-weight: 500;
}

.host-van-pricing-component {
  color: #161616;
  padding-top: 45px;
  display: flex;
  align-items: center;
}

.host-van-pricing-component p {
  font-weight: 500;
  font-size: 24px;
}

.host-van-pricing-component span {
  font-size: 16px;
  color: #4D4D4D;
}

.host-van-photos-component {
  padding-top: 29px;
}

.host-van-photos-component img {
  height: 101px;
  border-radius: 5px;
}

/* end host-van-detail-page */

/* start not found page */

.not-found {
  padding: 105px 26px;
}

.not-found h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  color: #161616;
  padding-bottom: 30px;
}

.not-found a {
  display: block;
  background-color: #161616;
  color: #FFFFFF;
  padding: 12.5px;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

/* end not found page */

/* start login page */

.login-container {
  padding: 50px 26px;
  color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 100%;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
}

.form-container input {
  padding: 9px 13px;
  border: 1px solid #D1D5DB;
  font-family: inherit;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.form-container input:focus {
  outline: none;
}

.form-container input:first-of-type {
  border-radius: 6px 6px 0px 0px;
  border-bottom: none;
}

.form-container input:last-of-type {
  border-radius: 0px 0px 6px 6px;
}

.form-container button {
  background-color: #FF8C38;
  padding: 18px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 6px;
  margin-top: 22px;
}

.login-container p {
  padding-top: 47px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.login-container p a {
  color: #FF8C38;
}

.login-container p a:hover {
  text-decoration: underline;
}

/* end login page */