:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fff7ed;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  font-family: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.home-page {
  background-image: url('./assets/images/hero_img.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 65px 27px;
  color: #FFFFFF;
}

.home-page a {
  background-color: #FF8C38;
  padding: 9px 0;
  line-height: 32px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.home-page a:hover {
  background-color: #f07721;
}

.home-page h1 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 23px;
}

.home-page p {
  margin-bottom: 52px;
  font-weight: 500;
}


/* start header */
header {
  display: flex;
  justify-content: space-between;
  padding: 36px 26px;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 40px;
}

nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

nav a {
  text-transform: capitalize;
  font-weight: 600;
  line-height: 23px;
  color: #4D4D4D;
}

/* end header */

/* start footer */

footer {
  background-color: #252525;
  color: #AAAAAA;
  padding: 25.5px;
  text-align: center;
}

footer p {
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
}

/* end footer */

/* start about page */

.about-page img {
  width: 100%;
  vertical-align: middle;
}

.about-desc {
  padding: 50px 26px;
}

.about-desc h2 {
  color: #161616;
  font-size: 32px;
  line-height: 38px;
}

.about-desc p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding: 32px 0 55px;
}

.about-desc-btn-container {
  background-color: #FFCC8D;
  padding: 32px 37px;
  border-radius: 5px;
}

.about-desc-btn-container h3 {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 25px;
}

.about-desc-btn-container a {
  background-color: #161616;
  color: white;
  padding: 13px 22px;
  border-radius: 10px;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
}

/* end about page */